.users {
   padding: 20px 10px 10px 40px;
}

.pages{
   width: 45vw;
   text-align: center;
   margin-bottom: 20px;
}

.pages span{
   display: inline-block;
   margin-right: 5px;
   cursor: pointer;
}

.selectedPage {
   color: #61dafb;
}

.loader {
   width: 45vw;
   text-align: center;
}
