.container {
   margin: 0 auto;
   max-width: 1400px;
   height: 100%;
   /* padding: 0 15px; */
   display: flex;
   align-items: center;
}

.container_stretch {
   flex: 1 1 auto;
   align-items: stretch;
}
