
.formControl.error input,
.formControl.error textarea{
   border: 5px solid red;
}

.formControl.error span{
   color:red;
   display: inline-block;
   margin-bottom: 10px;
}

.error_common{
   border: 1px solid red;
}