.header {
   background-color: #2a2c2e;
   height: 60px;
}

.header div {
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
}

.header img {
   display: inline-block;
   height: 60%;
   margin-right: 10px;
}

.header p {
   display: inline-block;
   color: #61dafb;
}

.header__row{
   display: flex;
   justify-content:space-between;
   text-align: center;
}

.header__col:last-child{
   text-align: right;
   color: #61dafb;
   justify-content: flex-end;
}

.login{
   color: #61dafb;
}
