.app {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   font-size: 24px;
   color: #2a2c2e;
}

.page-wrap {
   flex: 1 1 100%;
   display: flex;
}
